<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kevin Qu | Privacy Policy</title>
    <meta name="description"
        content="I'm a computer science student who enjoys working with web development, cybersecurity, and game development.">
    <meta name="author" content="Kevin Qu">
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="https://kevinqu.com">

    <meta property="og:title" content="Kevin Qu | Privacy Policy">
    <meta property="og:description"
        content="I'm a computer science student who enjoys working with web development, cybersecurity, and game development.">
    <meta property="og:url" content="https://kevinqu.com">
    <meta proprety="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- css reset -->
    <link rel="stylesheet" href="/css/reset.css">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">

    <!-- styles -->
    <style>
        body {
            background-color: #141414;
        }

        pre {
            color: #cecece;
            font-family: 'Fira Mono';
            font-size: 16px;
            margin: 8px;
            line-height: 1.25;
        }

        span {
            font-weight: 500;
        }

        a {
            color: #cecece;
            text-decoration: underline;
        }

    </style>
</head>

<body>
    <pre><span>Privacy Policy  - - - - - - - - - - - - - - - - -</span>
The following is subject to change at any time, without notice.

<span>Cookie Policy</span>
<span>- - - - - - - - - - - - - - - - - - - - - - - - -</span>
This website utilizes two types of cookies: 
 > Essential cookies that play a part in handling contact form submissions and rate limiting (which cannot be disabled without causing misbehavior)
 > Non-essential cookies set by Google Analytics which allows for the tracking of site usage (which are optional - see below for more details)

<span>Google Analytics</span>
<span>- - - - - - - - - - - - - - - - - - - - - - - - -</span>
This website uses Google Analytics to track usage and engagement, which helps to improve the site. 
 > To learn more about how Google Analytics collects and proccesses your data, visit: <a href="https://policies.google.com/technologies/partner-sites" target="_blank" rel="noopener noreferrer">https://policies.google.com/technologies/partner-sites</a>
 > If you so choose, you may opt-out of Google Analytics by installing the browser extension found at: <a href="https://tools.google.com/dlpage/gaoptout" target="_blank" rel="noopener noreferrer">https://tools.google.com/dlpage/gaoptout</a></pre>
</body>

</html>
