<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kevin Qu | Privacy Policy</title>
    <meta name="description"
        content="I'm a computer science student who enjoys working with web development, cybersecurity, and game development.">
    <meta name="author" content="Kevin Qu">
    <meta name="robots" content="noindex, nofollow">
    <link rel="canonical" href="https://kevinqu.com">

    <meta property="og:title" content="Kevin Qu | Privacy Policy">
    <meta property="og:description"
        content="I'm a computer science student who enjoys working with web development, cybersecurity, and game development.">
    <meta property="og:url" content="https://kevinqu.com">
    <meta proprety="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap>"
        rel="stylesheet">

    <!-- site css -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">

    <!-- css styles -->
    <style>
        body {
            text-align: left;
            margin: 36px;
        }

        h1 {
            font-size: 42px;
        }

        h2 {
            background: none;
            font-size: 24px;
            margin: 16px 0 0 0;
        }

        p {
            font-size: 16px;
        }

        ul {
            list-style: disc;
            margin-left: 28px;
        }
    </style>
</head>

<body>
    <h1>Privacy Policy</h1>
    <p>The following applies to root domain kevinqu.com and potentially but not necessarily all subdomains, and is
        subject to change at any time, without notice.</p>
    <p>Submitted user data is securely stored in a cloud database and will never be sold; the only third-party with
        access to any user data is Google Analytics.</p>

    <h2>Cookie Policy</h2>
    <p>This website utilizes two types of cookies:</p>
    <ul>
        <li>Essential cookies that play a part in handling contact form submissions and rate limiting (which cannot
            be disabled without causing unintended side-effects).</li>
        <li>Non-essential cookies set by Google Analytics which allows for the tracking of site usage (which are
            optional; see below for more details).</li>
    </ul>

    <h2>Contact Form</h2>
    <p>When submitting the contact form, the following information is collected and securely stored:</p>
    <ul>
        <li>Any information inputted by the user, including their full name, email address, and message.</li>
        <li>The user's IP address (used in correlation with the reCAPTCHA API; see below) and exact date & time of
            submission.</li>
    </ul>

    <h2>Google Analytics</h2>
    <p>This website uses Google Analytics to track usage and engagement, which helps to improve the site.</p>
    <ul>
        <li>To learn more about how Google Analytics collects and proccesses your data, visit: <a
                href="https://policies.google.com/technologies/partner-sites" class="animLink" target="_blank"
                rel="noopener noreferrer">https://policies.google.com/technologies/partner-sites</a>.</li>
        <li>If you so choose, you may opt-out of Google Analytics by installing the browser extension found at: <a
                href="https://tools.google.com/dlpage/gaoptout" class="animLink" target="_blank"
                rel="noopener noreferrer">https://tools.google.com/dlpage/gaoptout</a>.</li>
    </ul>

    <h2>reCAPTCHA</h2>
    <p>This site is protected by reCAPTCHA (a free service offered by Google) from spam and abuse. reCAPTCHA v3
        runs completely in the background.</p>
    <ul>
        <li>To view Google's Privacy Policy, visit: <a href="https://policies.google.com/privacy" class="animLink"
                target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy</a>.</li>
        <li>To view Google's Terms of Service, visit: <a href="https://policies.google.com/terms" class="animLink"
                target="_blank" rel="noopener noreferrer">https://policies.google.com/terms</a>.</li>
    </ul>
</body>

</html>
