/* -------------------------
GLOBAL
------------------------- */

:root {
    --lightBlack: #252525;
    --mediumBlack: #1f1f1f;
    --darkBlack: #141414;
    --lightWhite: #dbdbdb;
    --mediumWhite: #cecece;
    --darkWhite: #aeaeae;
    --blurple: #9594e4;
    --success: #8df18d;
    --error: #f18d8d;
    --blurpleGradient: linear-gradient(90deg, rgb(151, 148, 228) 0%, rgb(104, 204, 224) 100%);
}

::selection {
    background: var(--lightBlack);
}

::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #232323;
    border-radius: 8px;
}

body {
    font-family: 'Nunito';
    font-kerning: none;
    line-height: 1.4;
    background: var(--darkBlack);
    color: var(--lightWhite);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------
TYPOGRAPHY
------------------------- */

h1 {
    font-family: 'Encode Sans SC';
    font-weight: 800;
    font-size: 72px;
    user-select: none;
}

hr {
    height: 2px;
    width: 50vw;
    background-color: var(--darkWhite);
    border: none;
    margin: 4px 0;
}

p {
    font-size: 24px;
    color: var(--mediumWhite);
    margin-top: 12px;
    padding: 0 24px;
}

a {
    font-size: 24px;
    color: var(--blurple);
    text-decoration: none;
}

a:hover {
    color: #817acf;
}

@media (max-width: 1199.98px) {
    h1 {
        font-size: 66px;
    }

    hr {
        width: 60vw;
    }

    p, a {
        font-size: 22px;
    }
}

@media (max-width: 991.98px) {
    h1 {
        font-size: 58px;
    }

    hr {
        width: 70vw;
    }

    p, a {
        font-size: 20px;
    }
}

@media (max-width: 768.98px) {
    h1 {
        font-size: 52px;
    }

    hr {
        width: 80vw;
    }

    p, a {
        font-size: 18px;
    }
}

@media (max-width: 575.98px) {
    hr {
        width: 90vw;
    }
}

@media (max-width: 480.98px) {
    hr {
        width: 100vw;
    }
}
