/* -------------------------
GLOBAL
------------------------- */

:root {
    --lightBlack: #252525;
    --mediumBlack: #1f1f1f;
    --darkBlack: #141414;
    --lightWhite: #dbdbdb;
    --mediumWhite: #cecece;
    --darkWhite: #aeaeae;
    --blurple: #9594e4;
    --success: #8df18d;
    --error: #f18d8d;
    --blurpleGradient: linear-gradient(90deg, rgb(151, 148, 228) 0%, rgb(104, 204, 224) 100%);
}

::selection {
    background: var(--lightBlack);
}

::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #232323;
    border-radius: 8px;
}

body {
    font-family: 'Poppins';
    font-kerning: none;
    line-height: 1.4;
    background: var(--darkBlack);
    color: var(--lightWhite);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------
TYPOGRAPHY
------------------------- */

img {
    height: 10vh;
}

h1 {
    font-family: 'Encode Sans SC';
    font-weight: 700;
    font-size: 64px;
    user-select: none;
    line-height: 1;
}

p {
    font-size: 22px;
    color: var(--mediumWhite);
    padding: 10px 36px 6px 36px;
}

a {
    font-size: 22px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: var(--mediumWhite);
    top: 4px;
    line-height: 1;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(155, 174, 236, 0.5) 45%, rgba(140, 163, 237, 0.5) 80%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
    border-bottom: 1px solid transparent;
}

a:hover {
    color: var(--mediumWhite);
    border-bottom: 1px solid var(--mediumWhite);
    transition: all 100ms ease-in;
}

@media (max-width: 1199.98px) {
    h1 {
        font-size: 66px;
    }

    p {
        font-size: 22px;
    }

    a {
        font-size: 19px;
    }
}

@media (max-width: 991.98px) {
    h1 {
        font-size: 58px;
    }

    hr {
        width: 70vw;
    }

    p {
        font-size: 20px;
    }

    a {
        font-size: 18px;
    }
}

@media (max-width: 768.98px) {
    h1 {
        font-size: 52px;
    }

    hr {
        width: 80vw;
    }

    p {
        font-size: 18px;
    }

    a {
        font-size: 17px;
    }
}
